
/node_modules
/css/*
/memory/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-staging
.env-production
tenancy.json
/public/fonts/
/public/js/app-admin
/public/js/app-panelist
/public/css/*
/public/uploads/*
/aws/deprecated/codebuild_OLD/.env*
.DS_Store
/public/hot
/storage
.phpunit.result.cache
/public/mix-manifest.json
/tests/Coverage/
/packages/*
/cache/*
/packages/juhasev/laravel-ses/
/help
